name: Telegram Downloader Bot

on:
  push:
    branches: [ main ]

jobs:
  bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: sudo apt update && sudo apt install yt-dlp ffmpeg -y
      - run: npm install
      - run: node index.js
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
